@{
    ViewData["Title"] = "Home Page";
}
<h4 style="">Tecnologias ultilizadas</h4>
    <div style="padding-top: 15px;display:flex;
        flex-direction: column;
        margin-top: 40px;">
        <ul style="text-align:center; align-self:center">
            <li>.net core 2.2</li>
            <li>Entity Framework</li>
            <li>Sqlite</li>
            <li>Bootstrap/FontAwesome</li>
            <li>AutoMapper</li>
        </ul>
        <p style="text-align:justify; padding:10px">
            Obrigado pela oportunidade de mostrar um pouco do meu conhecimento.
            Essa aplicação, é um desafio proposto por vocês. Nessa aplicação eu
            usei as tecnologias sitadas acima solucionar o problema. Meu domínio
            atualmente é na linguagem Java, porém, já venho atuando com .net faz
            alguns meses. Apliquei os conhecimentos que tinha e fui a traz dos
            que eu não tinha para fazer o front-end da aplicação, então é provável
            que daqui a uma semana eu veja muita coisa que fiz e que posso melhorar.
            Sempre da pra melhorar!
        </p>
        <p style="text-align:justify; padding:10px">
            Aqui fica um pedido de desculpas também, pela demora em faze-lo, porém,
            como havia comentado, estou em um projeto que diariamente estava fazendo
            de 10 a 11h de trabalho por dia inclusive nos finais de semana. Hoje dia
            31/05/2020 consegui ter o meu domingo livre para afinal poder faze-lo.
        </p>
        <p style="text-align:justify; padding:10px">
            Obrigado novamente e até breve!
        </p>
    </div>
